<p align="right"><%= link_to "Home", root_path%>&emsp;
<%= link_to "About", about_path%>&emsp;
<%= link_to "Sign In", signin_path%>&emsp;
<%= link_to "Sigh Up", signup_path%>&emsp;</p>
<h1>About Us</h1>

