<div class="jumbotron center">
	<h1>Welcome to my app!</h1>
	 <% if user_signed_in? %>
	 <% else %>
	   <%= link_to "GET STARTED", new_user_registration_path, class: "btn btn-primary btn-lg" %>
	 <% end %> 
</div>